﻿@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the lab3</h1>
    <p>Learn about <a href="https://vk.com/nickonickola">contact developer</a>.</p>
</div>
