﻿@model lab3.Models.Project

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Project</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" required/>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" required/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomCompanyName" class="control-label"></label>
                <input asp-for="CustomCompanyName" class="form-control" required/>
                <span asp-validation-for="CustomCompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExecutorCompanyName" class="control-label"></label>
                <input asp-for="ExecutorCompanyName" class="form-control" required/>
                <span asp-validation-for="ExecutorCompanyName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorId" class="control-label"></label>
                <select asp-for="DirectorId" asp-items="@(new SelectList(ViewBag.DbContext.Worker, "Id", "Name", "Surname"))" class="form-control"></select>
                <span asp-validation-for="DirectorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WorkersId" class="control-label">Workers</label>
                <select asp-for="WorkersId" asp-items="@(new SelectList(ViewBag.DbContext.Worker, "Id", "Name", "Surname"))" class="form-control" multiple></select>
                <span asp-validation-for="WorkersId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" required/>
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartTime" class="control-label"></label>
                <input asp-for="StartTime" class="form-control" required/>
                <span asp-validation-for="StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndTime" class="control-label"></label>
                <input asp-for="EndTime" class="form-control" required/>
                <span asp-validation-for="EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" required/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

