﻿@model IEnumerable<lab3.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>



<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="ProjectsTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ExecutorCompanyName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DirectorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkersId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomCompanyName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutorCompanyName)
            </td>
            <td>
                <div class="form-group">
                    @{
                        { Worker worker = ViewBag.DbContext.Worker.Find(item.DirectorId);
                            <p>@worker.Name @worker.Surname</p>
                        }
                    }
                </div>
            </td>
            <td>
                @*@Html.DisplayFor(modelItem => item.WorkersId)*@
                @* <div class="form-group">
                    <label class="control-label">Workers</label>
                    <select asp-items="@(new SelectList(ViewBag.DbContext.Worker, "Id", "Name", item.WorkersId))" class="form-control" multiple disabled></select>
                </div> *@
                <div class="form-group">
                    <select>
                            @foreach (var id in item.WorkersId)
                            {
                                Worker worker = ViewBag.DbContext.Worker.Find(id);
                                <option>@worker.Name @worker.Surname</option>
                            }
                        </select>
                </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        let table = new DataTable('#ProjectsTable');
    });
</script>
