﻿@model IEnumerable<lab3.Models.Task>

@{
    ViewData["Title"] = "Index";
}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<!-- DataTables CSS and JS -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table id="TasksTable" class="display">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AuthorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Comment)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
                <td>
                    <div class="form-group">
                        @{
                            {
                                Project? project = ViewBag.DbContext.Project.Find(item.ProjectId);
                                <p>@project?.Name</p>
                            }
                        }
                    </div>
                </td>
            <td>
                    <div class="form-group">
                        @{
                            {
                                Worker worker = ViewBag.DbContext.Worker.Find(item.AuthorId);
                                <p>@worker.Name @worker.Surname</p>
                            }
                        }
                    </div>
            </td>
            <td>
                    <div class="form-group">
                        @{
                            {
                                Worker worker = ViewBag.DbContext.Worker.Find(item.WorkerId);
                                <p>@worker.Name @worker.Surname</p>
                            }
                        }
                    </div>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comment)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Priority)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

<script>
    $(document).ready(function () {
        let table = new DataTable('#TasksTable');
    });
</script>
